/* Insert your styles here */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

.parallax {
  background-image: url("popcorn.jpg");

  /* Set a specific height */
  height: 100%;
  width: 100vw;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: stretch;
}

.carousel-item img {
  height: 100vh;
}

.card-poster {
  height: 200px;
  width: 150px;
  object-fit: cover;
}

footer p {
  margin: 0;
}
